# Auto generated zsh functions
src/symlinks/zsh/zfunc/_*

# Emacs
*.*#*

# Vim
src/symlinks/vim/vim/**
!src/symlinks/vim/vim/*/

# Tmux
src/symlinks/tmux/tmux/plugins/**
src/symlinks/tmux/tmux/resurrect

# Ignore .gitkeep file
!.gitkeep